.container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  height: 100vh; 
}

.title {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: bold;
  color: #333;
}

.tableContainer {
  margin-top: 20px;
  position: relative;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  border: 1px solid #ddd;
  text-align: left;
  padding: 8px;
}

.table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table tr:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.additionalInfo {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  background: #f9f9f9;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.additionalInfo div {
  display: flex;
  flex-direction: column;
}

.additionalInfo p {
  margin: 5px 0;
  font-size: 14px;
  color: #333;
}

.filterExpansion {
  display: flex;
  flex-direction: column;
  width: 45%; 
  max-width: 800px; 
  background: #f9f9f9;
  padding: 10px; 
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  box-sizing: border-box;
  gap: 15px; 
}

.filterSection {
  display: flex;
  flex-direction: column;
  gap: 8px; 
}

.filterSection label {
  font-size: 13px;
  font-weight: 500; 
  margin-bottom: 3px; 
  color: #333;
}

.filterSection select {
  padding: 6px; 
  font-size: 13px; 
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
}

.filterSection input {
  padding: 6px; 
  font-size: 13px; 
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
}

.filterSection .smallSelectGroup select {
  flex: 1;
}

.dateRange {
  display: flex;
  gap: 10px; 
}

.dateRange input {
  flex: 1;
  padding: 6px; 
  font-size: 13px; 
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
}


