.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  background-color: #ffffff;
  color: #333;
}

.title {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
  font-size: 30px;
  color: #333;
}

.componentsContainer {
  display: flex;
  flex-direction: column;
  gap: 10px; 
  width: 100%;
}

.component {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding: 10px;
  background-color: #f9f9f9;
  min-height: 300px; 
}
