.container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 99%;
  margin: 0 auto;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  padding: 8px;
}

.leftSection {
  flex: 7.5;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 12px;
}

.title {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 16px;
  color: #333;
}

.tableContainer {
  overflow-x: auto;
  margin-top: 20px;
  position: relative;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  border-radius: 12px;
}

.table th,
.table td {
  text-align: left;
  padding: 10px;
}

.table tr {
  transition: all 0.3s;
  position: relative;
}

.table th {
  background-color: white;
  font-weight: bold;
  border-bottom: 1px solid #ddd;
}

.table tr td {
  border-bottom: 1px solid #ddd;
}

.table tr:hover {
  background-color: #eee;
  cursor: pointer;
}

.table tr.activeRow {
  position: relative;
}

.table tr.activeRow::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 4px;
  background-color: #4caf50;
}

.table tr.inactiveRow {
  position: relative;
}

.table tr.inactiveRow::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 4px;
  background-color: #f44336;
  opacity: 0.7;
}

.actionsCell {
  display: flex;
  gap: 8px;
  align-items: center;
}

.actionButton {
  background: none;
  border: 1px solid #ddd;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 0.9rem;
  transition: all 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.actionButton:hover {
  transform: scale(1.05);
}

.activateButton {
  color: #4caf50;
  border-color: #4caf50;
}

.activateButton:hover {
  background-color: rgba(76, 175, 80, 0.1);
}

.activateButton.activeButton {
  background-color: #f44336; 
  color: white;
}

.activateButton.inactiveButton {
  color: #4caf50;
  border-color: #4caf50;
}

.activateButton.inactiveButton:hover {
  background-color: rgba(244, 67, 54, 0.1);
}

.deleteButton {
  color: #f44336;

  padding: 5px;
}

.deleteButton:hover {
  background-color: rgba(244, 67, 54, 0.1);
}

.rightSection {
  flex: 2.5;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.situationHeader {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.situationItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 15px;
}

.situationItem span:first-child {
  font-size: 16px;
  font-weight: bold;
  color: #444;
}

.situationItem span:last-child {
  font-size: 18px;
  color: #777;
  margin-top: 5px;
}

.paginationContainer {
  display: flex;
  justify-content: left;
  margin-top: 12px;
  align-items: center;
  gap: 2px;
}

.paginationContainer button {
  border: 0;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  transition: 0.2s;
  font-size: 20px;
  display: flex;
  height: 24px;
  align-items: center;
}

.paginationContainer button:hover {
  background-color: #1769e3;
  color: #fff;
}

.paginationContainer p {
  font-size: 20px;
  color: #333;
  line-height: 0px;
  user-select: none;
}

.sortIcon {
  margin-left: 5px;
  cursor: pointer;
  color: #000;
  transition: all 0.2s;
}

.sortIcon:hover {
  color: #333;
}
