.container {
  max-width: 300px; 
  margin: 10px auto;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 6px;
  background-color: #f9f9f9;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 1.2rem; 
  margin-bottom: 15px;
  text-align: center;
  color: #333;
}

.form {
  display: flex;
  flex-direction: column;
}

.inputGroup {
  margin-bottom: 10px; 
}

.label {
  font-size: 0.9rem; 
  margin-bottom: 3px;
  color: #555;
}

.input {
  width: 95%; 
  padding: 6px;
  font-size: 0.9rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input:focus {
  border-color: #0070f3;
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 112, 243, 0.2);
}

.button {
  padding: 8px 12px; /* Botão menor */
  font-size: 0.9rem;
  color: #fff;
  background-color: #0070f3;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.button:hover {
  background-color: #005bb5;
}
